{% if collection %}
  {% assign within_collection = collection %}
{% elsif current_collection != blank %}
  {% assign within_collection = collections[current_collection] %}
{% else %}
  {% assign within_collection = collections.all %}
{% endif %}

<a href="{{ featured.url | within: within_collection }}" class="grid-link">
  <span class="grid-link__image grid-link__image--product">
    <span class="grid-link__image-centered">
      <img src="{{ featured.featured_image.src | img_url: 'large' }}" alt="{{ featured.featured_image.alt | escape }}">
    </span>
  </span>
  <div class="grid-link__info">
    <p class="grid-link__title">{{ featured.title | escape }}</p>
    {% comment %}<p class="grid-link__meta"></p>{% endcomment %}
  </div>
</a>