/*================ Module | Footer ================*/

.site-footer {
  background-color: $colorFooterBg;
  padding: $gutter 0 ($gutter*2);
  color: $colorFooterText;

  @include at-query($max, $large) {
    text-align: center;
  }

  form {
    margin-bottom: 0;
  }

  @include at-query($min, $medium) {
    input {
      max-width: 250px;
    }   
  }

  .text-center input {
    margin-left: auto;
    margin-right: auto;
  }

  p,
  li,
  .rte,
  input,
  .breadcrumb,
  .tags {
    font-size: em($baseFontSize - 2px);
  }

  p {
    margin-bottom: 10px;
  }

  ul {
    margin-bottom: 0;
  }

  .breadcrumb,
  .tags {
    color: $colorFooterText;
  }

  @include at-query ($max, $medium) {
    .grid__item {
      margin-bottom: $gutter/2;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.site-footer__links {
  font-weight: bold;
  a {
    color: $colorFooterText;

    &:hover,
    &:active {
      color: $colorLink;
    }
  }

  &.inline-list li {
    padding: 0 10px;
  }

}

.site-footer__menu {
  margin-bottom: 20px;
  @include at-query ($min, $large) {
    text-align: right;
  }
  li:not(:last-child){
    a {
      padding: 0 4px;
      margin: 0 2px;
    }
    &:after {
      content: "|";
      position: relative;
      right: -4px;
    }
  }
}

.site-footer__taglines {
  font-family: $fontStackSanSerif;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;

  @include at-query ($min, $large) {
    text-align: right;
  }

  p {
    margin: 0;
    display: none;
    &.is-visible {
      display: block;
    }
  }
}