/*================ Module | Site Header ================*/
.site-header {
  position: absolute;
  z-index: $zindex-header;
  width: 100%;
  padding: $gutter 0;
  background-color: $colorHeader;
}

.site-header__logo {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

.site-header__logo-link,
.site-header__logo-img {
  display: block;
  margin: 0 auto;
}
.site-header__logo-img {
  max-width: 72px;
}