/*================ Module | Rich Text Editor ================*/
.rte {

  // Add some top margin to headers from the rich text editor
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }
  }

  > div {
    margin-bottom: $gutter / 2;
  }

  ul, ol {
    margin-left: 35px;
  }

  ul {
    @extend ul.disc;

    ul {
    list-style: circle outside;

      ul {
        @extend ul.square;
      }
    }
  }

  li {
    margin-bottom: 0.4em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  table {
    table-layout: fixed;
  }
}

.rte--header {
  margin-bottom: $gutter;
}