/*================ Module | Section Headers ================*/
.section-header {
  text-align: left;
  margin-bottom: $gutter / 2;
}

.section-header--small {
  margin-bottom: 0;
}

.section-header--medium {
  margin-bottom: $gutter / 4;
}

.section-header--large {
  margin-bottom: $gutter;
}

.section-header__title {

}

.section-header__title--left {
  padding-bottom: $gutter / 2.5;
  margin-bottom: 0;
}

.section-header__description {
  max-width: 45em;
  margin: 0 auto 30px;

  .section-header__title + & {
    margin-top: 30px;
  }
}

@include at-query ($min, $large) {
  .section-header {
    display: table;
    width: 100%;
    text-align: left;
  }

  .section-header__title--left {
    display: table-cell;
    vertical-align: middle;

    h1, h2, h3, h4,
    .h1, .h2, .h3, .h4 {
      margin-bottom: 0;
    }
  }
}

.view-more {
  clear: both;
  display: block;
  font-size: 0.85em;
  text-align: center;
  margin-top: $gutter / 2;

  @include at-query($min, $large) {
    display: none;
  }
}
