<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header class="site-header" role="banner">
    <div class="wrapper">

      {% if template.name == 'index' %}
        <h1 class="site-header__logo post-large--right" itemscope itemtype="http://schema.org/Organization">
      {% else %}
        <div class="h1 site-header__logo post-large--right" itemscope itemtype="http://schema.org/Organization">
      {% endif %}
        <a href="/" class="site-header__logo-link" itemprop="url" title="{{ shop.name }}">
          <img src="{{ section.settings.logo | img_url: '100x' }}" class="site-header__logo-img" alt="{{ shop.name }}" itemprop="logo">
        </a>
      {% if template.name == 'index' %}
        </h1>
      {% else %}
        </div>
      {% endif %}

      <a href="/cart" class="site-header__cart">
        <span class="icon icon-cart" aria-hidden="true"></span> Cart
      </a>

    </div>
  </header>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "450 x 200px recommended"
      }
    ]
  }
{% endschema %}
