/*================ Templates | Cart Page ================*/

$cartButtonMinWidth: 220px;

.template-cart {
  .main-content .wrapper {
    max-width: $large;
  }
  .section-header__title {
    opacity: 0;
  }
}

.cart__top-message {
  text-align: center;
  font-style: italic;
  margin-bottom: $gutter * 1.5;
}

.cart__row {
  position: relative;
  padding-top: 18px;

  & + & {
    margin-top: 18px;
    border-top: 1px solid $colorBorder;
  }

  &:first-child {
    margin-top: 0;
  }

  &:first-child {
    padding-top: 0;
    border-top: 0 none;
  }

  .js-qty {
    margin: 0;
  }
}

@include at-query ($min, $large) {
  .cart__row--table-large {
    display: table;
    table-layout: fixed;
    width: 100%;

    .grid__item {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
}

.cart__image {
  display: block;

  @include at-query ($min, $large) {
    img {
      max-height: 105px;
      display: block;
    }
  }
}

.cart__item-essential {
  position: relative;
}

.cart__item-mini-price {
  float: right;
  padding-left: 20px;
  @include at-query ($min, $large) {
    display: none;
  }
}

.cart__mini-quantity {
  @include at-query ($min, $large) {
    display: none;
  }
}

.cart__item-title {
  text-transform: uppercase;
}

.cart__subtotal,
.cart-additional-savings__price {
  margin: 0 0 0 ($gutter / 3);
  display: inline;
}

input.cart__quantity-selector {
  width: 50px;
  margin: 0 auto;
  padding: 6px;
  text-align: center;
  font-size: $fontSizeSmall;

  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}

.cart__remove {
  display: block;
}

.cart-item__discount,
.cart-additional-savings__savings,
.cart-subtotal__savings {
  display: block;
}

.cart .btn {
  margin-bottom: $gutter / 2;
  min-width: $cartButtonMinWidth;
  @include at-query ($max, $large) {
    width: 100%;
  }
}

.cart__alternate-buttons {
  @include at-query ($min, $large) {
    float: left;
  }
}

// Hide the update button since we update the cart on input blur via JS
.supports-js .update-cart {
  display: none;
}

.btn-checkout {
  margin-bottom: 0;
}

.cart__additional-checkout-separator {
  position: relative;
  margin: $gutter 0;
  text-transform: uppercase;
  text-align: center;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: $colorBorder;
  }

  span {
    padding: 0 10px;
    background-color: $colorBody;
    position: relative;
    z-index: 1;
  }

  @include at-query ($min, $large) {
    text-align: right;
    
    span {
      padding-right: 0;
    }
  }
}

.cart__additional-checkout {
  margin: ($gutter / 2) 0 0;

  input {
    padding: 0;
  }

  & > *:not(script) {
    padding: 5px 0 0 5px;
    vertical-align: top;
    line-height: 1;
    
    &:first-child,
    &:empty {
      padding-left: 0px;
    }
  }

  .additional-checkout-button {
    border-radius: $radius !important;
    width: 100%;
    min-width: $cartButtonMinWidth !important;
    margin-bottom: $gutter / 2;
    @include at-query ($min, $large) {
      width: auto;
    }

    @include at-query ($max, $large) {
      & + & {
        margin-left: 0;
      }
    }
  }
}

.cart__continue-btn {
  .cart--no-cookies & {
    display: none;
  }
}

.cart--empty-message {
  text-align: center;
  font-size: $fontSizeLarge;
  .cart--no-cookies & {
    display: none;
  }
}

.cart--cookie-message {
  display: none;

  .cart--no-cookies & {
    display: block;
  }
}
