/*================ Templates | Cart Page ================*/
.template-cart .main-content .wrapper {
  max-width: $large;
}

.cart__row {
  position: relative;
  padding-top: ($gutter * 2/3);

  & + & {
    margin-top: ($gutter * 2/3);
    border-top: 1px solid $colorBorder;
  }

  &:first-child {
    margin-top: 0;
  }

  &:first-child {
    padding-top: 0;
    border-top: 0 none;
  }

  .js-qty {
    margin: 0;
  }
}

@include at-query ($min, $large) {
  .cart__row--table-large {
    display: table;
    table-layout: fixed;
    width: 100%;

    .grid__item {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
}

.cart__image {
  display: block;

  img {
    max-height: 110px;
    display: block;
  }
}

.cart__item-title {
  text-transform: uppercase;
}

.cart__subtotal,
.cart-additional-savings__price {
  margin: 0 0 0 ($gutter / 3);
  display: inline;
}

.cart__mini-labels {
  display: block;
  margin: ($gutter / 3) 0;
  font-size: em(12px);

  @include at-query ($min, $large) {
    display: none;
  }
}

input.cart__quantity-selector {
  width: 50px;
  margin: 0 auto;
  padding: 6px;
  text-align: center;
  font-size: $fontSizeSmall;

  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}

.cart__remove {
  display: block;
}

.cart__note-add.is-hidden {
  display: none;
}

.cart__note {
  display: none;

  &.is-active {
    display: block;
  }
}

.cart-item__discount,
.cart-additional-savings__savings,
.cart-subtotal__savings {
  display: block;
}

.cart .btn {
  margin-bottom: 4px;
}

.cart__additional_checkout {
  margin: ($gutter / 2) 0 0;

  input {
    padding: 0;
  }

  & > *:not(script) {
    padding: 5px 0 0 5px;
    vertical-align: top;
    line-height: 1;
    
    &:first-child,
    &:empty {
      padding-left: 0px;
    }
  }

}

.cart__continue-btn {
  .cart--no-cookies & {
    display: none;
  }
}

.cart--empty-message {
  .cart--no-cookies & {
    display: none;
  }
}

.cart--cookie-message {
  display: none;

  .cart--no-cookies & {
    display: block;
  }
}